<config xmlns="http://purl.oclc.org/DEFUZE/amplee">
  <store>
    <lock />
    <storage type="filesystem" target="member">
      <encoding>utf-8</encoding>
      <basepath>repository/home/jabber.defuze.org</basepath>
      <!--<cache ref="cache0" />-->
    </storage>
    <storage type="filesystem" target="media">
      <encoding>utf-8</encoding>
      <basepath>repository/home/jabber.defuze.org</basepath>
    </storage>
    <cache id="cache0">
      <servers>
	<server ip="127.0.0.1" port="11211" />
      </servers>
    </cache>
  </store>
</config>
