[supervisor]
daemon: False
log_dir: "./logs"
log_enabled: True
tasks: [("suptask01", clmon.WatchdogSupervisorTask)]

[suptask01]
listener_addr: ("127.0.0.1", 120001)
listener_authkey: "secret"
processes: [("xmppproc01", conductor.protocol.xmpp.XMPPProcess)]

[xmppproc01]
tasks: []


[watchdog0]
username: "watchdog01"
password: "test"
domain: "localhost"
resource: "localhost"
hostname: "localhost"
port: 5222
log_to_stdout: True
log_dir: "./logs/"
type: "ping"
monitor_timeout: 30
nodes: "localhost"
markers: "IM,PRESENCE"
im_marker: "IM"
presence_marker: "PRESENCE"

[watchdog1]
username: "watchdog02"
password: "test"
domain: "localhost"
resource: "localhost"
hostname: "localhost"
port: 5222
log_to_stdout: True
log_dir: "./logs/"
type: "pong"
monitor_timeout: 30

[watchdog2]
username: "watchdog03"
password: "test"
domain: "localhost"
resource: "localhost"
hostname: "localhost"
port: 5222
log_to_stdout: True
log_dir: "./logs/"
type: "pong"
monitor_timeout: 30